.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    overflow: hidden;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}