:nth-child(1){--nth-child: 1}
:nth-child(2){--nth-child: 2}
:nth-child(3){--nth-child: 3}
:nth-child(4){--nth-child: 4}
:nth-child(5){--nth-child: 5}
:nth-child(6){--nth-child: 6}
:nth-child(7){--nth-child: 7}
:nth-child(8){--nth-child: 8}
:nth-child(9){--nth-child: 9}
:nth-child(10){--nth-child: 10}
:nth-child(11){--nth-child: 11}
:nth-child(12){--nth-child: 12}
:nth-child(13){--nth-child: 13}
:nth-child(14){--nth-child: 14}
:nth-child(15){--nth-child: 15}
:nth-child(16){--nth-child: 16}
:nth-child(17){--nth-child: 17}
:nth-child(18){--nth-child: 18}
:nth-child(19){--nth-child: 19}
:nth-child(20){--nth-child: 20}
:nth-child(21){--nth-child: 21}
:nth-child(22){--nth-child: 22}
:nth-child(23){--nth-child: 23}
:nth-child(24){--nth-child: 24}



:root {
    --img-width: 425px;
}

.gallery{
    margin-top: 70px;
}

.imgGrid{
    display: grid;
    grid-template-columns:  repeat(3, var(--img-width));
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: center;
}

.modalImg{
    display: inline;
    max-width: 80vw;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.modalDescription{
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@media (max-width: 440px){
    .modalImg {
        min-width: 0;
        min-height: 0;
    }
}

@media screen and (max-width: 1300px) {
    .imgGrid{
        grid-template-columns:  repeat(2, var(--img-width));
    }
}

@media screen and (max-width: 900px) {
    .imgGrid{
        grid-template-columns: max-content;
    }
}


/* animation Gallery */

.imgGrid._active > div:nth-child(n){
    animation: appear  1s ease both calc(var(--nth-child) * 0.3s);
}
/* .imgGrid._active > div:nth-child(2){
    transition: all 0.8s ease 0.3s;
    opacity: 1;
    calc(var(--nth-child) * 0.3s)
}
.imgGrid._active > div:nth-child(3){
    transition: all 0.8s ease 0.6s;
    opacity: 1;
}
.imgGrid._active > div:nth-child(4){
    transition: all 0.8s ease 0.9s;
    opacity: 1;
}
.imgGrid._active > div:nth-child(5){
    transition: all 0.8s ease 1.2s;
    opacity: 1;
}
.imgGrid._active > div:nth-child(6){
    transition: all 0.8s ease 1.5s;
    opacity: 1;
} */


@keyframes appear {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }